@value makerGreen,makerWhite from '../../common/colors.css';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: makerWhite;
}

.list {
  list-style: none;
  display: inline-block;
  margin: auto;
  margin-bottom: 1em;
  padding: 0;
}

.button {
  margin: 1em;
  margin-bottom: 0.2em;
  width: 30em;
  height: 3em;
  background-color: transparent;
  outline: none;
  border: 3px solid makerGreen;
  border-radius: 20px;
}

.button:hover {
  background-color: rgba(56, 84, 97, 0.3);
  cursor: pointer;
}
